@media (max-width: 1180px) {
  /* contact page  */
  .form_container {
    width: 40%;
  }
  .section5 {
    padding: 120px 10%;
  }

  .artwork_main {
    padding: 80px 150px;
  }
  .allcategory {
    margin-bottom: 60px;
  }
}

@media (max-width: 1010px) {
  /* hearder  */

  .menu {
    position: fixed;
    top: 95px;
    left: -100%;
    width: 50%;
    height: 190px;
    background-color: #b53b1b;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .burgericon {
    display: block;
  }
  .show {
    left: 0;
  }
  .section1_title {
    width: 90%;
  }

  .section2 {
    padding: 100px 1%;
  }
  .figures {
    padding: 160px 200px;
  }

  .section_2_div {
    width: 50%;
  }

  /* footer  */
  footer {
    padding: 42px 123px;
    flex-direction: column;
  }

  .footer_logo {
    margin-top: 40px;
    margin-bottom: 60px;
  }

  /* indext page section 1 figure  */

  .figures {
    flex-direction: column;
    padding: 64px 57px;
  }
  .article1 {
    padding: 141px 150px 140px 150px;
  }
  .aticle_title {
    font-size: 1.75rem;
  }
  .question {
    font-size: 1.5rem;
  }
  .article1 {
    padding: 64px 20px;
  }

  /* here starts artwork page  */
  .allcategory {
    margin-top: 78px;
    margin-bottom: 40px;
  }
  .allcategory_title {
    font-size: 2rem;
  }
  .sort {
    width: 98px;
  }
  .artwork_main {
    padding: 40px 150px;
  }
  .mian_input {
    padding: 15px 20px 15px 2px;
  }
  .srchbtn {
    padding: 17px 44px;
  }
  /* contact page  */
  .contact_map_div {
    width: 90%;
  }
  .contact_info_div {
    margin-left: 10px;
  }
}

@media (max-width: 800px) {
  .section5 {
    padding: 64px 3%;
  }
  .contact_map_div {
    width: 100%;
  }
}

@media (max-width: 750px) {
  header {
    max-width: inherit;
    width: inherit;
    padding: 0px 0px 0px 0px;
  }
  .header_logo {
    margin-left: 100px;
    margin-right: 100px;
  }
  h1 a {
    font-size: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .section1 {
    height: 600px;
  }
  .section1_text {
    width: 90%;
    margin-bottom: 20px;
  }
  .section1_btn {
    padding: 20px 50px;
    margin-top: 30px;
  }
  .section2_div {
    flex-direction: column;
    padding: 64px 57px;
  }
  .size {
    width: 90%;
  }
  .section2_title {
    margin-bottom: 28px;
  }
  .direction {
    display: none;
  }
  .main1 {
    padding: 32px 20px;
  }
  .main_left_div {
    gap: 20px;
  }
  .main_right_div {
    display: none;
  }
  .main_left_div {
    width: 100%;
  }
  .img3 {
    width: 100%;
    margin-top: 20px;
  }
  .main_bottom {
    flex-direction: column;
    gap: 20px;
  }

  .section3 {
    height: 320px;
  }
  .sectin3_ttl {
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .section_2_div {
    width: 90%;
  }
  .Size {
    width: 130px;
  }
  /* artwork page  */

  .artwork_search_div {
    flex-direction: column;
  }
  /* contact page  */

  .section4 {
    padding: 32px 20px;
  }
  .form_container {
    width: 440px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 50px;
  }
  .contact_map {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
   /* index page  */
   .section1 {
    height: 400px;
  }
  .section1_title {
    font-size: 2rem;
    margin-top: 50px;
  }
  figcaption {
    font-size: 1rem;
    margin-top: 2px;
  }
  .main1_title,
  .section2_title,
  .subriscribe_text,
  .aticle_title {
    font-size: 2rem;
  }

  .section2 {
    padding: 32px 20px;
  }
  .section2_div {
    padding: 0px 0px;
  }
  .section3 {
    height: 200px;
  }
  .section_2_div {
    gap: 32px;
  }
  .section_3_input {
    padding: 14px 20px;
  }
  .section3_btn {
    padding: 13px 20px;
  }
  .article1 {
    padding: 62px 20px;
  }
  .artice_text_div {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  /* artwork page  */

  .section3 {
    height: 320px;
  }
  .artwork_main {
    padding: 64px 57px;
  }
  .hide {
    display: none;
  }
  .cards_div {
    flex-direction: column;
    margin-top: 40px;
    gap: 40px;
  }
  .card {
    width: 100%;
  }

}
 