@media (max-width: 1180px) {
  /* contact page  */
  .form_container {
    width: 40%;
  }
  .section5 {
    padding: 120px 10%;
  }
}

@media (max-width: 1010px) {
  /* hearder  */
  .menu {
    position: fixed;
    top: 95px;
    left: -100%;
    width: 50%;
    height: 190px;
    background-color: #b53b1b;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .burgericon {
    display: block;
  }
  .show {
    left: 0;
  }
  /* indext page section 1 figure  */

  .figures {
    flex-direction: column;
    padding: 64px 57px;
  }
  .article1 {
    padding: 141px 150px 140px 150px;
  }
  .aticle_title {
    font-size: 1.75rem;
  }
  .question {
    font-size: 1.5rem;
  }

  /* here starts artwork page  */
  .allcategory {
    margin-top: 78px;
    margin-bottom: 40px;
  }
  .allcategory_title {
    font-size: 2rem;
  }
  .sort {
    width: 98px;
  }
  .artwork_main {
    padding: 40px 150px;
  }
}
