
@media (max-width: 1570px) {
  /* index page  */
  header{
    max-width: inherit;
    width: inherit;
  }
  .main_div {
    gap: 30px;
   justify-content: center;
  }
}
@media (max-width: 1180px) {
  .main_div{
    width:80%;
  }
}